Repository abhishektripathi66/DSA, pull requests merged in 2024-10, with the labels that each got.

#29 Doubly linked list
  doublyLinkedList/DLL_question.java
  doublyLinkedList/doublyLinkedList.java
  doublyLinkedList/doublyLinkedList.txt
Labels: hacktoberfest

#33 Create MinimumNumberofRemovalstoMakeMountainArray.java
  Leetcode/MinimumNumberofRemovalstoMakeMountainArray.java
Labels: hacktoberfest-accepted

#32 queue
  queue/queue.java
  queue/queue.txt
  queue/queue_question.java
Labels: hacktoberfest, hacktoberfest-accepted

#34 Create XofaKindinaDeckofCards.java
  Leetcode/XofaKindinaDeckofCards.java
Labels: hacktoberfest-accepted

#35 Create LongestValidParentheses.java
  Leetcode/LongestValidParentheses.java
Labels: hacktoberfest-accepted

#36 Create MinimumTotalDistanceTraveled.java
  Leetcode/MinimumTotalDistanceTraveled.java
Labels: hacktoberfest-accepted
